<launch>
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

  <node pkg="ti_mmwave_rospkg" type="mmWaveQuickConfig" name="ti_mmwave_config" ns="radar_0" args="$(find ti_mmwave_rospkg)/cfg/6843ISK_3d.cfg" output="screen" >
    <param name="mmWaveCLI_name" value="/mmWaveCLI" />
  </node>

  <!-- <node pkg="nodelet" type="nodelet" name="ti_mmwave_config" args="load ti_mmwave_rospkg/mmWaveQuickConfig standalone_nodelet" ns="radar_0" args="$(find ti_mmwave_rospkg)/cfg/6843ISK_3d.cfg" output="screen"> -->
  <!-- <node pkg="nodelet" type="nodelet" name="ti_mmwave_config" args="load ti_mmwave_rospkg/mmWaveQuickConfig standalone_nodelet" ns="radar_0" output="screen">
    <param name="mmWaveCLI_name" value="/mmWaveCLI" />
  </node> -->

  <!-- <node pkg="nodelet" type="nodelet" name="Plus"
    args="load nodelet_tutorial_math/Plus standalone_nodelet">
    <remap from="/Plus/out" to="remapped_output"/>
  </node>

  <node pkg="ti_mmwave_rospkg" type="mmWaveQuickConfig" name="ti_mmwave_config" ns="radar_0" args="$(find ti_mmwave_rospkg)/cfg/6843ISK_3d.cfg" output="screen" >
    <param name="mmWaveCLI_name" value="/mmWaveCLI" />
  </node> -->


</launch>