<!--
  This file will launch the mmWave sensor node and configure a TI mmWave sensor using a 3D config. This launch file is intended
  to be used to launch the mmWave sensor node on TI's TDA4VM Jacinto Processors, as such a separate command must be used to launch rViz 
  for visualization on a PC.
 -->

<launch>

  <!-- Input arguments -->
  <arg name="max_allowed_elevation_angle_deg" default="90" doc="Maximum allowed elevation angle in degrees for detected object data [0 > value >= 90]}"/>
  <arg name="max_allowed_azimuth_angle_deg" default="90" doc="Maximum allowed azimuth angle in degrees for detected object data [0 > value >= 90]}"/>
  <arg name="device_num" default="0"/>
  <arg name="com_user" default="/dev/ttyUSB0"/>
  <arg name="com_data" default="/dev/ttyUSB1"/>
  <arg name="tf_args" default="0 0 0 0 0 0" doc="Values to be used for tf transformation"/>

  <!-- mmWave_Manager node -->
  <node pkg="ti_mmwave_rospkg" type="ti_mmwave_rospkg" name="ti_mmwave" ns="radar_$(arg device_num)" output="screen" >
    <param name="command_port" value="$(arg com_user)"  />
    <param name="command_rate" value="115200"   />
    <param name="data_port" value="$(arg com_data)"  />
    <param name="data_rate" value="921600"   />
    <param name="max_allowed_elevation_angle_deg" value="$(arg max_allowed_elevation_angle_deg)"   />
    <param name="max_allowed_azimuth_angle_deg" value="$(arg max_allowed_azimuth_angle_deg)"   />
    <param name="frame_id" value="ti_mmwave_$(arg device_num)"/>
    <param name="mmWaveCLI_name" value="/mmWaveCLI_$(arg device_num)" />
    <remap from="/ti_mmwave/radar_scan_pcl" to="/ti_mmwave/radar_scan_pcl_$(arg device_num)"/>
  </node>

  <node pkg="tf" type="static_transform_publisher" name="radar_baselink_$(arg device_num)" args="$(arg tf_args) ti_mmwave_pcl ti_mmwave_$(arg device_num) 100" />

</launch>